  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  #bookImg {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #genres_icon{
    float: right;
  }
  
 .headings{
   padding-left: 20px;
 }
  
  #bagColor{
    background-color: honeydew;
    float: left;
  }
  
  .bgimg{
    background-image: url('/Images/banner.jpg');
  }
  
  footer.page-footer{
    margin-top:0px;
  }
  
  .row .col{
    /*padding: 0px;*/
    border:0px;
  }