  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Profile page Page CSS starts*/
  .container{
    max-width: 850px;
    margin: auto;
  }

  .container h3{
    text-align: center;
    color: #2196F3 !important;
  }

  .attributes{
     margin:10px;
  }

  .attributes label{
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
  }

  .prd_val{
    float: left;
    font-size: 1.3rem;
    color: #000;
  }

  .prd_save{
    padding-left: 20rem;
  }

  .edit{
    cursor:pointer;
  }

  .inputVal{
    height: 3rem !important;
    font-size: 1.3rem !important;
  }
  /* Profile page Page CSS ends*/
